.header{
  flex: 1 1;
}
h1{
  width: 100%;
}
h2{
  width: 100%;
}
h3{
  width: 100%;
}
h4{
  width: 100%;
}
h5{
  width: 100%;
}
h6{
  width: 100%;
}
.dragIcon{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}